<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polkadot</title>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <h1>Polkadot ·</h1>
        <p>
            Polkadot is a super simple, mildly opinionated and
            lightweight web server built on <a href="https://github.com/lukeed/polka">Polka</a>.
        </p>
        <p>It supports the necessities:</p>
        <ul>
            <li>Static asset server – <code>[./src/public/assets/...]</code></li>
            <li>Web router – <code>[./src/public/routes.js]</code></li>
            <li>View loading – <code>[./src/public/views/...]</code></li>
        </ul>
        <p>
            A perfect match for your vanilla project.
        </p>
        <p class="text-center">
            <small>
                a tiny project template by <a target="_blank" href="https://github.com/calmarms">CalmArms</a>
            </small>
        </p>
    </div>
</body>
</html>